/*Fonts*/
@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

/*Main styles*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 120rem;
    margin: 0 auto;

    font-family: "Georgia";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;

    background-color: #313131;
}

.page-container {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;
}

.container {
    padding: 0 2rem;
}

/*Header*/
.header {
    background-color: #fff;
    border-top: 5px solid #a7c353;
}

.header__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #a7c353;

    position: relative;
}

.logo__title {
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: #666666;
}

.logo__title::first-letter {
    font-size: 3.2rem;
    line-height: 3.2rem;
}

.logo__subtitle {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 400;
    color: #999999;
}

.nav__list {
    display: flex;
}

.nav__link {
    display: block;
    padding: 5.3rem 2rem 3.3rem;

    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #979797;
    white-space: nowrap;

    cursor: pointer;

    transition: background-color 0.4s linear, color 0.4s linear;
}

.nav__link:hover {
    color: #fff;

    background-color: #a7c353;
}

.burger{
    display: none;
    flex-shrink: 0;
    
    width: 3rem;
    height: 2rem;

    position: relative;
    cursor: pointer;

    background: transparent;
    border: none;
}

.burger span{
    display: block;
    width: 100%;
    height: 0.3rem;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    border-radius: 0.15rem;
    background-color: #979797;

    transition: all .4s ease;
}

.burger::before,
.burger::after{
    content: "";
    width: 100%;
    height: 0.3rem;

    position: absolute;
    left: 0;

    border-radius: 0.15rem;
    background-color: #979797;

    transition: all .4s ease;
}

.burger::before{
    top: 0;
}

.burger::after{
    bottom: 0;
}

.burger.active span{
    opacity: 0;
}

.burger.active::before{
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
}

.burger.active::after{
    transform: rotate(-45deg) translateY(50%);
    bottom: 50%;
}

/*Content*/
.content {
    background-color: #fff;
}

.galery {
    width: 100%;

    border-bottom: 1px solid #e2e2e2;
}

.galery__text {
    padding: 4.3rem 10.6rem 4rem;
    text-align: center;

    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 400;
    font-style: italic;
    color: #666666;
}

.slider {
    width: 100%;

    position: relative;
}

.slider__list {
    width: 100%;
    position: relative;

    overflow: hidden;
}

.slider__item {
    width: 100%;
    height: 35rem;

    -webkit-animation-name: scale;
    -webkit-animation-duration: 1.5s;
    -moz-animation-name: scale;
    -moz-animation-duration: 1.5s;
    animation-name: scale;
    animation-duration: 1.5s;
}

.slider__item img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.slider__text {
    width: 35rem;
    position: absolute;
    bottom: 5.8rem;
    right: 6.2rem;
}

.slider__text-title {
    padding: 0.5rem 0;
    margin-bottom: 1rem;

    font-size: 2.2rem;
    line-height: 3rem;
    color: #fff;
    text-align: center;

    background-color: #a7c353;
}

.slider__text-paragraph {
    padding: 1.3rem;

    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #999999;
    font-weight: 400;

    background-color: #fff;
}

.slider__prev,
.slider__next {
    width: 5.2rem;
    height: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;
    border: 2px solid #a7c353;
    border-radius: 50%;

    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-100%);

    transition: background-color 0.4s ease;
}

.slider__prev {
    left: 1rem;
}

.slider__next {
    right: 1rem;
}

.slider__prev:hover,
.slider__next:hover {
    background-color: #222;
}

.slider__prev:active,
.slider__next:active {
    width: 4.8rem;
    height: 4.8rem;
}

.slider__dots {
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    line-height: 0;
}

.slider__dot {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;

    background-color: #a7c353;
    border: 3px solid #a7c353;
    border-radius: 50%;

    transition: all 0.4s ease;
}

.slider__dot:hover {
    background-color: #839b3d;
}

.slider__dot:active {
    transform: scale(0.9);
}

.slider__dot.active {
    background-color: #fff;
}

@-webkit-keyframes scale {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@-moz-keyframes scale {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes scale {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.info__title {
    margin-bottom: 3rem;

    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: #666666;
}

.info__text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
}

.about {
    flex: 0 0 28rem;
}

.about__content{
    width: 100%;
}

.about__image {
    width: 100%;
    max-width: 28rem;
    height: 15rem;
    padding: 0.4rem;
    margin-bottom: 2rem;

    border: 1px solid #e2e2e2;
}

.about__image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.about__text {
    margin-bottom: 2rem;

    color: #999999;
}

.about__more {
    text-align: right;
    line-height: normal;
}

.link {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 400;
    color: #a7c353;
}

.link--footer {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.link:hover {
    text-decoration: underline;
}

.services {
    flex: 0 0 28rem;
}

.services__item {
    display: flex;
    margin-bottom: 2rem;
}

.services__item:last-child {
    margin-bottom: 1.4rem;
}

.services__img {
    width: 6.4rem;
    height: 6.4rem;

    flex-shrink: 0;
}

.services__img img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.services__item-description {
    margin-left: 1.8rem;
}

.services__item-title {
    margin-bottom: 1.3rem;

    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: #878787;
}

.services__item-text {
    color: #868686;
}

.services__more {
    text-align: right;
    line-height: normal;
}

.feedback {
    flex: 0 0 28rem;
}

.feedback__item {
    margin-bottom: 1.5rem;
}

.feedback__item:last-child{
    margin-bottom: 0;
}

.feedback__item-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 400;
    color: #989898;
}

.feedback__item-title span {
    font-weight: 700;
}

.feedback__item-title::before {
    content: "";
    display: inline-block;
    width: 5.3rem;
    height: 4.4rem;
    margin-right: 1.1rem;

    background: url("../img/quotes.png") center no-repeat;
    background-size: contain;
}

.feedback__item-text {
    margin-bottom: 1rem;

    color: #888888;
}

.feedback__item-more {
    text-align: right;
    line-height: normal;
}

/* Footer */
.footer__row {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 3rem;

    border-bottom: 1px solid #3a3a3a;
}

.footer__details {
    flex: 0 0 22.5rem;
}

.footer__social {
    flex: 0 0 22.5rem;
}

.footer__blog {
    flex: 0 0 22.5rem;
}

.footer__contact-us {
    flex: 0 0 22.5rem;
}

.footer__title {
    padding-bottom: 1.5rem;

    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 400;
    color: #ffffff;

    border-bottom: 1px solid #3a3a3a;
}

.details {
    width: 100%;

    font-size: 1.2rem;
    line-height: 1.9rem;
    font-weight: 400;
    color: #999999;
}

.details__info {
    margin-top: 2rem;
}

.details__contacts {
    margin-top: 2rem;
}

.details__contacts a {
    color: #a7c353;
}

.details__contacts a:hover {
    text-decoration: underline;
}

.details__schedule-title {
    margin-top: 2rem;
    font-weight: 700;
}

.social {
    width: 100%;
}

.social__item {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 0.7rem;

    border-bottom: 1px solid #383838;
}

.social__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;

    background-color: #383838;
    border-radius: 50%;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon_linkedin {
    width: 16px;
    height: 14px;
    background-position: -5px -5px;
}

.sprite-icon_pinterest {
    width: 16px;
    height: 16px;
    background-position: -5px -29px;
}

.sprite-icon_rss {
    width: 14px;
    height: 14px;
    background-position: -31px -5px;
}

.sprite-icon_twitter {
    width: 16px;
    height: 14px;
    background-position: -55px -5px;
}

.blog {
    width: 100%;
}

.blog__item {
    margin-top: 2rem;
}

.blog__item-title {
    margin-bottom: 0.7rem;

    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #999999;
}

.blog__item-author {
    margin-bottom: 1.1rem;

    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
    color: #999999;
}

.blog__item-text {
    margin-bottom: 1.4rem;

    font-size: 1.2rem;
    line-height: 1.9rem;
    font-weight: 400;
    color: #999999;
}

.blog__item-more {
    text-align: right;
}

.contact-us {
    width: 100%;
}

.contact-us__form {
    width: 100%;
    margin-top: 2rem;
}

.contact-us__form input {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;

    font: inherit;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 400;
    color: #989898;

    background-color: #383838;
    border: 1px solid #383838;
    border-radius: 0.5rem;
}

.contact-us__form input:focus {
    border: 1px solid #666666;
}

.contact-us__form textarea {
    width: 100%;
    height: 11rem;
    padding: 1rem;
    margin-bottom: 1rem;
    vertical-align: top;

    font: inherit;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
    color: #989898;

    background-color: #383838;
    border: 1px solid #383838;
    border-radius: 0.5rem;

    resize: none;
    overflow: auto;
}

.contact-us__form textarea:focus {
    border: 1px solid #666666;
}

.btn {
    width: auto;
    padding: 1rem 1.2rem;
    margin-bottom: 0;

    font: inherit;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 700;
    color: #313131;
    cursor: pointer;

    background-color: #a7c353;
    border: none;
    border-radius: 0.5rem;

    transition: background-color 0.4s ease;
}

.btn:hover {
    background-color: #7d923d;
}

.btn:active {
    transform: scale(0.9);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #999999;
}

@media (max-width: 960px) {
    .logo__title {
        font-size: 2rem;
        line-height: 2rem;
    }

    .logo__title::first-letter {
        font-size: 2.6rem;
        line-height: 2.6rem;
    }

    .logo__subtitle {
        font-size: 1rem;
        line-height: 1rem;
    }

    .nav__link {
        padding: 2.8rem 1.5rem 1.8rem;

        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    .galery__text {
        padding: 3.3rem 8.6rem 3rem;

        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .slider__item {
        height: auto;
        padding-bottom: 38%;

        position: relative;
    }

    .slider__item img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .slider__text-title {
        width: 30rem;
        padding: 0.3rem 0;
        margin-bottom: 0.5rem;

        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .slider__text-paragraph {
        width: 30rem;
        padding: 0.8rem;

        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .info {
        padding: 2.5rem 0;
    }

    .info__title {
        margin-bottom: 1.5rem;

        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .info__text {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .about {
        flex: 0 0 31%;
    }

    .about__image {
        padding-bottom: 50%;
        margin-bottom: 1rem;

        position: relative;
    }

    .about__image img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .about__text {
        margin-bottom: 1rem;
    }

    .link {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .services {
        flex: 0 0 31%;
    }

    .services__item,
    .services__item:last-child {
        margin-bottom: 1rem;
    }

    .services__img {
        flex-shrink: 0;
    }

    .services__item-description {
        margin-left: 1.3rem;
    }

    .services__item-title {
        margin-bottom: 1rem;
    
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .feedback {
        flex: 0 0 31%;
    }
    
    .feedback__item {
        margin-bottom: 1rem;
    }

    .feedback__item-title {
        margin-bottom: 0.5rem;
    
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .feedback__item-title::before {
        width: 4rem;
        height: 3.3rem;
        margin-right: 0.7rem;
    }

    .feedback__item-text {
        margin-bottom: 0.5rem;
    }

    .footer{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .footer__row {
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
    }

    .footer__details {
        flex: 0 0 23%;
    }

    
    .footer__social {
        flex: 0 0 23%;
    }
    
    .footer__blog {
        flex: 0 0 23%;
    }
    
    .footer__contact-us {
        flex: 0 0 23%;
    }
}

@media (max-width: 768px){
    .header__row{
        padding: 1rem 0;
    }

    .nav{
        display: none;
    }

    .nav.active{
        display: block;

        position: absolute;
        top: 100%;
        right: 0;
        z-index: 3;

        background-color: #a7c353;
    }

    .nav__list{
        flex-direction: column;
        padding: 1rem 0;
    }

    .nav__link{
        padding: 1rem 2rem;

        text-align: center;
        color: #fff;
    }

    .nav__link:hover{
        background-color: #7d923d;
    }

    .burger{
        display: block;
    }

    .galery__text{
        padding: 3.3rem 6rem 3rem;

        font-size: 1.6rem;
        line-height: 2rem;
    }

    .slider__text{
        display: none;
    }

    .slider__prev,
    .slider__next{
        width: 4rem;
        height: 4rem;
    }

    .slider__prev img,
    .slider__next img{
        transform: scale(0.75);
    }

    .slider__dots{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .slider__dot{
        width: 1rem;
        height: 1rem;

        border-width: 2px;
    }

    .info{
        flex-direction: column;
        padding: 1.5rem 0 0.5rem;
    }

    .about{
        flex: 0 0 100%;
        margin-bottom: 1rem;
    }

    .about__content{
        display: flex;
        justify-content: space-between;
    }

    .about__image{
        flex: 0 0 48%;
        padding-bottom: 20%;
        margin-bottom: 0;
    }

    .about__text{
        flex: 0 0 48%;
        margin-bottom: 0;
    }

    .services{
        flex: 0 0 100%;
        margin-bottom: 1rem;
    }

    .services__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .services__item{
        flex: 0 0 48%;
    }

    .feedback{
        flex: 0 0 100%;
    }

    .feedback__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .feedback__item{
        flex: 0 0 48%;
    }

    .footer__row{
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .footer__details {
        flex: 0 0 48%;
        margin-bottom: 1.5rem;
    }

    
    .footer__social {
        flex: 0 0 48%;
        margin-bottom: 1.5rem;
    }
    
    .footer__blog {
        flex: 0 0 48%;
        margin-bottom: 1.5rem;
    }
    
    .footer__contact-us {
        flex: 0 0 48%;
        margin-bottom: 1.5rem;
    }

    .footer__bottom{
        padding: 1rem 0;
    }
}

@media (max-width: 480px){
    .galery__text{
        padding: 2rem 3rem 1.5rem;

        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .slider__prev,
    .slider__next{
        width: 3rem;
        height: 3rem;
    }

    .slider__prev img,
    .slider__next img{
        transform: scale(0.6);
    }

    .about__content{
        flex-direction: column;
        align-items: center;
    }    

    .about__image{
        width: 70%;
        padding-bottom: 33%;
        margin-bottom: 1rem;
    }

    .about__text{
        margin-bottom: 1rem;
    }

    .services__list{
        flex-direction: column;
    }

    .feedback__list{
        flex-direction: column;
    }

    .footer__row{
        flex-direction: column;
    }

    .footer__bottom{
        flex-direction: column;
    }

    .footer__copyright{
        margin-bottom: 1rem;
    }
}